In [63]:
import pandas as pd

In [65]:
df = pd.read_csv('estaticos_market/estaticos_market.csv')

In [6]:
df = pd.read_csv('estaticos_market.csv/estaticos_market.csv')

In [ ]:
DD

In [66]:
files = !ls *.csv # IPython magic
df1 = pd.read_csv(f'{files[0]}')
df2 = pd.read_csv(f'{files[1]}')
df3 = pd.read_csv(f'{files[2]}')

### Estaticos Market

In [74]:
df.head(2)

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,43.738462,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

### Estáticos portfólio 1

In [69]:
df1.head(2)

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,0,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,...,NaN,NaN,NaN,0.0,0.0,2.0,NaN,-100.0,0.0,4

### Estáticos portfólio 2

In [70]:
df2.head(2)

   Unnamed: 0                                                 id
0           0  09e95c1a84049001d086470a8f320a19b076f955a89122...
1           1  dc9d155f5bcd3172031e2ec9431786e8871ff4b0ff4728...

### Estáticos portfólio 3

In [71]:
df3.head(2)

   Unnamed: 0                                                 id
0           0  bb61c09449a1c1f8b78955d8b7a7f73599e78358993fe2...
1           1  16843c9ffb920170477118933798510d8d5f00f5c56c12...

### Análise das colunasdos data set

In [98]:
print(df.head())
print(df.dtypes.value_counts())
print(df.shape)

   Unnamed: 0                                                 id  fl_matriz  \
0           0  a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...       True
1           1  6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...       True
2           2  4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...       True
3           3  3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...       True
4           4  1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...       True

            de_natureza_juridica sg_uf natureza_juridica_macro  \
0  SOCIEDADE EMPRESARIA LIMITADA    RN  ENTIDADES EMPRESARIAIS
1          EMPRESARIO INDIVIDUAL    PI                  OUTROS
2          EMPRESARIO INDIVIDUAL    AM                  OUTROS
3          EMPRESARIO INDIVIDUAL    AM                  OUTROS
4          EMPRESARIO INDIVIDUAL    RN                  OUTROS

                                          de_ramo             setor  \
0                         INDUSTRIA DA CONSTRUCAO  CONSTRUÇÃO CIVIL
1              SERVICOS DE ALOJAMENTO/ALIMENTACAO           SERVIÇO
2               TRANSPORTE, ARMAZENAGEM E CORREIO           SERVIÇO
3                               SERVICOS DIVERSOS           SERVIÇO
4  SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS           SERVIÇO

   idade_empresa_anos idade_emp_cat  ...  media_meses_servicos  \
0           14.457534       10 a 15  ...             43.738462
1            1.463014         1 a 5  ...                   NaN
2            7.093151        5 a 10  ...                   NaN
3            6.512329        5 a 10  ...                   NaN
4            3.200000         1 a 5  ...                   NaN

   max_meses_servicos  min_meses_servicos  qt_funcionarios  \
0           93.266667           19.166667             26.0
1                 NaN                 NaN              NaN
2                 NaN                 NaN              NaN
3                 NaN                 NaN              NaN
4                 NaN                 NaN              NaN

   qt_funcionarios_12meses qt_funcionarios_24meses  tx_crescimento_12meses  \
0                     26.0                    27.0                     0.0
1                      NaN                     NaN                     NaN
2                      NaN                     NaN                     NaN
3                      NaN                     NaN                     NaN
4                      NaN                     NaN                     NaN

   tx_crescimento_24meses  tx_rotatividade qt_filiais
0               -3.703704              0.0          0
1                     NaN              NaN          0
2                     NaN              NaN          0
3                     NaN              NaN          0
4                     NaN              NaN          0

[5 rows x 182 columns]
float64    144
object      27
bool         9
int64        2
dtype: int64
(462298, 182)